---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <img src="/assets/images/MIlogo.jpg">
      <hr>
      <div class="row center">
        
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        <hr>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <img src="/assets/images/SilverLogo.png">
            <h5 class="center">Sexual Purity</h5>

            <p class="light"><strong>Silver Ring Thing</strong> is a ministry that defies the norms of culture and speaks honestly to teens about sex and relationships. Through a high-impact event of comedy, drama, music, videos and testimonies, SRT shows teens that purity is much more than waiting until a wedding day. It’s a commitment to persevere, a pursuit of freedom that enables you to embrace healthy relationships free of confusion, brokenness and pain. It is keeping your mind, body and spirit focused on Jesus and pursuing a life that honors him. It’s an inspiring message that promotes real and lasting change. </p>
            <p class="light">FREE EVENT: 
              <br>Cathedral of Praise Church 
              <br>Wednesday March 7th
            <br>6:00 pm
            <br>We are hosting an event at Cathedral of Praise in North Charleston SC on Wednesday, March 7th @ 6:00 pm. The theme for the tour is “Explicit Truth:Leaving Nothing Behind.” George Orwell wrote, “In a time of universal deceit, telling the truth is a revolutionary act.” That is certainly true of today. In a world that celebrates immorality and condemns purity, those who stand for Godly values are misfits, rebels, disruptive to the cultural norm. Silver Ring Thing is challenging a generation to live up to their worth and boldly embrace their calling to be set apart. The message is presented through peer-level students that communicate with honesty and conviction. 
          </p>
            <hr>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
              <img src="/assets/images/Orphanage.jpg">
              <h5 class="center">Orphanage</h5>

            <p class="light">Towards the end of our Mission trip to Africa our director stated that an orphange near Monrovia had children dying with no one to help.  Their well pump had broken and they resorted to drinking infected water.  We were able to bring medicine and fix the pump and fell in love with Mama Cooper's Orphange.  Babies would be left on her door step growing the need regularly. We have since monthly supported her amazing ministry of provision and love.  We have built three buildings, outhouses and provided pigs and chickens.</p>
            <hr>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
              <img src="/assets/images/PastorSitting.jpg">
              <h5 class="center">Pastoral Care</h5>

            <p class="light">We support and promote pastoral care and training. Pastor John with Narepa Ministries is a commited Godly man and heads up the pastoral outreach. He has a connection with many churches and ministers. He is also involved with sexual purity seminars, eboli containment programs and diverse community events.</p>
            <hr>
          </div>
        </div>

        </div>
      </div>

    </div>
</div>
  </div>
