---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <img src="/assets/images/MIlogo.jpg">
      <hr>
      <div class="row center">
        
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        <hr>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <img src="/assets/images/SilverLogo.png">
            <h5 class="center">Sexual Purity</h5>

            <p class="light">We partner with local churches and communities, encouraging young people to dedicate their lives to sexual purity through programs like <a href="https://www.silverringthing.com/">Silver Ring Thing</a>.</p>
            <p class="light">FREE EVENT: 
              <br>Cathedral of Praise Church 
              <br>Wednesday March 7th
            <br>6:30 pm</p>
            <hr>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
              <img src="/assets/images/Orphanage.jpg">
              <h5 class="center">Orphanage</h5>

            <p class="light">Mama Cooper is an incredible woman of God who takes in children without homes. We support her incredible orphanage in Liberia.</p>
            <hr>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
              <img src="/assets/images/pastoral.jpg">
              <h5 class="center">Pastoral Care</h5>

            <p class="light">We are still deciding what to write in these sections...</p>
            <hr>
          </div>
        </div>

        </div>
      </div>

    </div>
</div>
  </div>
