---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <hr>
      <div class="row center">
        
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        <hr>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <a href="/purity/"><img src="/assets/images/SilverLogo.png"></a>
            <a href="/purity/"><img src="/assets/images/Silverpeople.jpg"></a>
            <a href="/purity/"><h5 class="center">2019 "Unaltered Tour"</h5></a>
            <p class="light">
              <strong>FREE EVENT</strong><br/>
              <strong>March 10th, 2019</strong><br/>
              <strong>6:30pm</strong><br/>
              <strong>Seacoast Church main campus</strong><br/>
              <strong>750 Long Point Rd, Mt Pleasant, SC</strong><br/>
              Last Seacoast event brought over 500 students with many commitments to wearing the purity ring and living for our Saviour.
            </p>
            <p class="light"><strong>Silver Ring Thing</strong> is a ministry that defies the norms of culture and speaks honestly to teens about sex and relationships. Through a high-impact event of comedy, drama, music, videos and testimonies, SRT shows teens that purity is much more than waiting until a wedding day. It’s a commitment to persevere, a pursuit of freedom that enables you to embrace healthy relationships free of confusion, brokenness and pain. It is keeping your mind, body and spirit focused on Jesus and pursuing a life that honors him. It’s an inspiring message that promotes real and lasting change. </p>
            <p><a href="/purity/">Learn More...</a></p>
            <hr>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
          
            <iframe src="https://player.vimeo.com/video/84189628?byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen
              allowfullscreen></iframe>
            <p>
              <h5 class="center">Conquer Series</h5>
              <strong>MEN ARE GIVING UP PORN BECAUSE OF THIS....join over 500,000 men in 70 countries who are learning to live free
                of porn, taught in two 5 week action packed series." Sessions being held by Al Schirduan alschirduan@gmail.com and/or
                call#843-743-3827. God Bless.</strong>
              <br><br>
              <a href="https://vimeo.com/84189628">Conquer Series Trailer - Official [HD]</a> from
              <a href="https://vimeo.com/kingdomworks">KingdomWorks Studios</a>.
            </p>
          
          </div>
          <hr>
          <div class="icon-block">

            <a href="/orphanage/"><img src="/assets/images/OrphanageUpdate.png"></a>
            <a href="/orphanage/"><h5 class="center">Orphanage</h5></a>

            <p class="light">Towards the end of our Mission trip to Africa our director stated that an orphange near Monrovia had children dying with no one to help.  Their well pump had broken and they resorted to drinking infected water.  We were able to bring medicine and fix the pump and fell in love with Mama Cooper's Orphange.  Babies would be left on her door step growing the need regularly. We have since monthly supported her amazing ministry of provision and love.  We have built three buildings, outhouses and provided pigs and chickens.</p>
            <p><a href="/orphanage/">Learn More...</a></p>
            <hr>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <a href="/about/"><h5 class="center">Al's Testimony</h5></a>
          
            <p class="light">I came from a family of nine children. My amazing mother not only kept us fed and clothed, but woke us
              up every morning with a smile on her face and a song in her heart...</p>
            <p><a href="/about/">Learn More...</a></p>
            <hr>
          </div>
          <div class="icon-block">
            <a href="/pastoralcare/"><img src="/assets/images/PastorKids2.jpg"></a>
            <a href="/pastoralcare/"><h5 class="center">Pastoral Care</h5></a>
          
            <p class="light">We support and promote pastoral care and training. Pastor John with Narepa Ministries is a commited Godly
              man and heads up the pastoral outreach. He has just finished a very successful sexual purity program in Liberia. He understands
              that a purity lifestyle gives our youth a much greater chance to stay successful in life and emotionally healthy for
              a happy family life.</p>
            <p><a href="/pastoralcare/">Learn More...</a></p>
            <hr>
          </div>
          
        </div>

        </div>
      </div>

    </div>
</div>
  </div>
